.nav1{
float:left;
border:1px solid #cdcaca;
height :1170px;
width:300px;
color:white;
background: black;
font-size: 20px;
}.logoutt{
		float:right !important;
	}
a{
color:#b1a4a4 !important;
}
ul,li,a:hover{
color:white !important;
}
h2
{
background: pink;
border-bottom:  1px solid black;
width:100% !important;
}


@media only screen and (max-width: 1420px) and (min-width: 320px){
	.nav1{
		display:none;
/*float:left;
border:1px solid #cdcaca;
height :1170px;
width:15%;
color:white;
background: black !important;
font-size: 20px;*/
}
a{
color:#b1a4a4 !important;
}
ul,li,a:hover{
color:white !important;
}
h2
{
background: pink ;
border-bottom:  1px solid black;
width:100%;
}



}
	